<app-navbar></app-navbar>
<main class="container">
  <h1>
    {{ title }}
  </h1>
  <p>How to select/unselect all checkbox</p>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item active" aria-current="true">
            <input type="checkbox" [(ngModel)]="MASTER_SELECTED" name="list_name" value="m1"
              (change)="checkUncheckAll()" /><strong> Select/ Unselect All</strong>
          </li>
          <li class="list-group-item" *ngFor="let item of CHECKLIST">
            <input type="checkbox" [(ngModel)]="item.IS_SELECTED" name="list_name" value="{{item.id}}"
              (change)="isAllSelected()" />
            {{item.value}}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <code>{{CHECKED_LIST}}</code>
      </div>
    </div>
  </div>
</main>