<app-navbar></app-navbar>
<main class="container">
  <h1>
    {{ title }}
  </h1>
  <p>Angular 12 How to Check All/Uncheck All Checkbox List</p>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item">
            <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1"
              (change)="checkUncheckAll()" /><strong> Select/ Unselect All</strong>
          </li>
        </ul>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of checklist">
            <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}"
              (change)="isAllSelected()" />
            {{item.value}}
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <code>{{checkedList}}</code>
      </div>
    </div>
  </div>
</main>